@import url('https://fonts.cdnfonts.com/css/stora');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Shrikhand&family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login-box{
    position:relative;
    margin: 10px auto;
    width: 25vw;
    height: 95vh;
    background-color: #FBE04B;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid #221A17;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.lb-header{
    position:relative;
    margin: 15px 5px 10px 5px;
    padding-bottom:10px;
    text-align:center;
    height:7vh;
    font-family: 'Slabo 27px', serif;
}

.lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.lb-header .active{
    color: #221A17;
    font-size: 20px;
    border: 2px solid white;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
}

.header h2 {
    font-family: 'Stora', serif;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
  
  
.email-login,.email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 7vh;
    text-align:center;
  }
  
.u-form-group{
    width:100%;
    margin-bottom: 3vh;
  }
  
.u-form-group input[type="email"],
.u-form-group input[type="password"],
.u-form-group input[type="text"]{
    width: calc(100% - 5vw);
    height:5vh;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 30px;
    color: #333;
    font-size:0.8rem;
    border: 1px solid #221A17;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
    font-family: 'Slabo 27px',sans-serif;
}

.u-form-group input:focus{
    border-color: #FBE04B;

}
  
.u-form-group button{
    width: 18vw; 
    height: 5vh; 
    background-color: #fff;
    border: 1px solid #221A17;
    color: #221A17;
    font-size: 13px;
    font-weight: bold;
    padding: 11px 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: 'Stora',sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.u-form-group button:hover{
    background-color: #221A17;
    color: #fff;
}

.forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #221A17;
    font-size: 0.75rem;
    font-family: 'Slabo 27px',sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 100%; 
    overflow: auto;
    transition: all 0.3s ease-in-out; 
}
.modal-content {
    background-color: #E5B8A9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    border: 3px solid #221A17;
    margin-top: 33vh;
}

.modal-content h1 {
    font-family: 'Stora',sans-serif;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#modalText {
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.01em;
}

.close {
    color: #221A17;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
